{{ include('header.html') }}

<body class="amber lighten-3">
	<main>
	    {{ include('rightbar.html') }}
		
		{{ include('leftbar.html') }}
		
		
    <!-- starts the blog container -->

    <section class="blog-container z-depth-1">
        <div class="blog-title z-depth-2 amber darken-2 left-spacing">
            <h2>Blog</h2>
        </div>
        {% if is_front_page %}
    		{% for page in paged_pages|sort_by("time")|reverse %}
                {% if page.id starts with "blog/" and not page.hidden %}
        		<article class="amber {{ cycle(['lighten-3','lighten-2'], loop.index0) }} left-spacing post z-depth-1">
        			<h3><a href="{{ page.url }}">{{ page.meta.title }}</a></h3>
        			<h6><em>Date:</em>{{ page.meta.date_formatted }}</h6>
        			<h6><em>Tags:</em> {{ page.meta.tags }}</h6>
        			<div class="content">{{ page.id|content }}</div>
        		</article>
        		{% endif %}
            {% endfor %}
        
            {{ pagination_links }}
        {% else %}
            <article class="amber lighten-2 left-spacing post z-depth-1">
        			<h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
        			<h5><em>{{ page.date_formatted }}</em></h5>
        			<h5>Tags: {{ page.meta.tags }}
        			</h5>
        			{{ page.id|content }}
        	</article>
        	{{ pagination_links }}
        {% endif %}
	</section>
	<!-- ends the blog container -->

	</main>
    
  

    {#<script src="{{ theme_url }}/js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_url }}/js/utils.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_url }}/js/pico.js" type="text/javascript"></script>#}

</body>
</html>
