<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    
    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
</head>
<body class="amber lighten-3">
	<main>
	   <section class="rightnavbar grey darken-4 white-text z-depth-5">
        <ul>
        {% for page in pages if not page.hidden %}
            {% if not (page.id starts with "blog/") and not page.hidden %}

            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            
            {% endif %}
        {% endfor %}
        </ul>
		<h6>Blog powered by <a href="http://www.picocms.org">PicoCMS</a></h6>
	    </section>
		<section class="top-container teal darken-2 white-text z-depth-4">
            <div class="left-spacing name-container">
					<h1>Brian Schott</h1>
					<h5>Computer Science Educator</h5>
					<h5>Budding Design Thinker</h5>
			</div>
			<div class="headshot-container left-spacing">
				<img class="headshot" src="assets/headshot.jpg" style="">
			</div>
			<div class="smartboard-container">
				<div class="smartboard">
				    <div style="margin-bottom:5px;margin-right:15px;">Follow me on...</div>
				    <a href="http://www.twitter.com/brianjschott"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="http://www.github.com/brianjschott"><i class="fab fa-github-alt"></i></a>


				</div>
			</div>
		</section>
		
		
    <!-- starts the blog container -->

    <section class="blog-container z-depth-1">
        <div class="blog-title z-depth-2 amber darken-2 left-spacing">
            <h1>Blog</h1>
        </div>
		{% for page in pages|sort_by("time")|reverse %}
        {% if page.id starts with "blog/" and not page.hidden %}
		<article class="amber lighten-2 left-spacing post z-depth-1">
			<h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
			<h6><em>{{ page.date_formatted }}</em></h6>
			<h6>Tags: {{ page.meta.tags }}
			</h6>
			{{ page.id|content }}
		</article>
		{% endif %}
        {% endfor %}
	</section>
	<!-- ends the blog container -->

	</main>
    
  

    {#<script src="{{ theme_url }}/js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_url }}/js/utils.js" type="text/javascript"></script>#}
    {#<script src="{{ theme_url }}/js/pico.js" type="text/javascript"></script>#}

</body>
</html>
